.section1-header {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: var(--shadow-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.section1-header span {
    font-size: clamp(1.5rem, 4vw, 1.6rem);
    color: var(--font-color);
    font-weight: 550;
}



.section1-header nav {
    display: flex;
    gap: 1.3vw;

}

.section1-header nav a {
    text-decoration: none;
    color: var(--deactive-color);
    position: relative;
}

.section1-header nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: var(--shadow-color);
    transition: width 0.3s ease-in;
    height: 1px;
}

.section1-header nav a:hover::after {
    width: 100%;

}

#menu {
    display: none;
}

#section1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    background-color: var(--bg-onyx);
    border-bottom: 2px solid var(--secondary-color);

}


#section1 svg {
    position: absolute;
    left: 50%;
    bottom: 1%;
    width: clamp(1.5rem, 3vw, 1.8rem);
    animation: down 1.2s infinite linear;
    z-index: 0;
    fill: var(--secondary-color);
}

@keyframes down {
    0% {
        transform: translateY(0%);

    }

    30% {
        transform: translateY(-2vh);
        scale: calc(1.2);
    }

    50% {
        transform: translateY(0%);
    }

    70% {
        transform: translateY(-5vh);
    }

    100% {
        transform: translateY(0%);
    }

}

#section1 h1 {
    font-size: clamp(1rem, 7vw, 2rem);
    font-weight: 600;
    color: var(--deactive-color);
}

#section1 h1 span {
    color: var(--font-color);
}

#section1 #sp {
    color: var(--secondFont-color);
    font-size: clamp(1rem, 5vw, 1.3rem);
}

#section1 div button {
    width: clamp(20px, 25vw, 150px);
    height: clamp(10px, 10vh, 48px);
    background-color: var(--shadow-color);
    border-radius: 1.4rem;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    border-right: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
        border-top: 2px solid var(--luxury-gold);
    transition: all 0.2s ease-in;
}

#section1 div button:nth-child(2) {
    width: clamp(20px, 25vw, 150px);
    height: clamp(10px, 10vh, 48px);
    background-color: var(--shadow-color);
    border-radius: 1.4rem;

}

#section1 div button:hover {
    border: 2px solid var(--secondary-color);
    scale: calc(1.1);
}

#section1 div button a {
    text-decoration: none;
    color: var(--font-color);

}

#section1 div {
    margin: 3vh 3vw;
    display: flex;
    gap: 1vw;
}

#section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    justify-content: center;
    padding: 0 clamp(5px, 10vw, 250px);
    background-color: var(--bg-onyx);
        border-bottom: 2px solid var(--secondary-color);
}

#section2 p {
    align-content: center;
    color: var(--secondFont-color);
    font-size: clamp(0.8rem, 1.6vw, 3rem);
}

#header {
    color: var(--font-color);
    font-weight: 600;
    animation: underline;
    position: relative;
    padding-bottom: 10px;
    font-size: clamp(1rem, 6vw, 1.9rem);
}

#header::after {
    content: "";
    height: 2.5px;
    border-radius: 2px;
    width: 60%;
    background-color: var(--font-color);
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 20%;

}

#section3 {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-onyx);
    height: 45vh;
    padding: 0 5%;
    align-items: center;
    gap: 1vh;
    justify-content: center;
        border-bottom: 2px solid var(--secondary-color);
}

#section3 div {
    display: flex;
    width: 100%;
    gap: clamp(10px, 3vw, 25px);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

#section3 div svg {
    width: clamp(40px, 3vw, 60px);
    fill: var(--secondary-color);
}


#section3 div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: clamp(50px, 15vw, 115px);
    height: clamp(40px, 18vh, 130px);
    border-radius: 5px;
    background-color: var(--shadow-color);
    color: var(--secondFont-color);
    transition: all 0.3s linear;
    cursor: pointer;
        border-top: 2px solid var(--luxury-gold);

}

#section3 div div:hover {
    transform: translateY(-1.1vh);
    scale: calc(1.1);
}

#section4 {
    height: clamp(150px, 75vh, 450px);
    background-color: var(--bg-onyx);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
        border-bottom: 2px solid var(--secondary-color);

}



#three-projects {
    display: flex;
    width: 100%;
    gap: 5%;
    height: clamp(100px, 60vh, 400px);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

#first {
    display: flex;
    flex-direction: column;
    width: clamp(160px, 22vw, 260px);
    background-color: var(--shadow-color);
    height: 87%;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s linear;
    border-top: 2px solid var(--luxury-gold);


}

#first:hover {
    transform: translateY(-1.5vh);
    scale: calc(1.05);

}


#first h2 {
    font-size: 1rem;
    color: var(--font-color);
    font-weight: 600;
    margin: 8% 5%;
    margin-bottom: 0;
}

#first p {


    font-size: clamp(0.8rem, 1vh, 1rem);
    margin: clamp(10px, 1.5%, 20px);
    align-content: center;
    margin: 0;
    margin-right: 5%;
    margin-left: 5%;
    height: 40%;
    color: var(--secondFont-color);

}


#first img {
    width: 100%;
    height: 44%;

}

#first div svg {
    width: 2.1vw;
}

#first div div svg {
    width: clamp(23px, 2vw, 60px);
    fill: white;
    cursor: pointer;
}

#first div div svg:hover {
    scale: calc(1.1);
    fill: white;
}

#first div {
    display: flex;
    align-items: center;
    padding-left: 2.3%;
    height: 15%;
    width: 97.7%;
    gap: 0vw;
    background-color: var(--shadow-color);


}

#first div div {
    display: flex;
    align-items: center;
    width: 35%;
}

#first div div span {
    font-size: clamp(0.7rem, 1vh, 1.2rem);
    color: var(--secondFont-color);
}

#first div div:nth-child(2) {
    width: 55%;
}


#section5 {
    height: 75vh;
    background-color: var(--bg-onyx);
    display: flex;
    flex-direction: column;
    align-items: center;


}

#Message {

    height: 60%;
    width: 50%;
    border-radius: 10px;
    padding: 2% 3.5%;
    display: flex;
    flex-direction: column;
    background-color: var(--shadow-color);
    gap: 3%;

}

.red-border {
    border: 2px solid red !important;
    outline: none;
}

.green-border {
    border: 2px solid green !important;
    outline: none;
}



.input1 {
    height: 10%;
    background-color: var(--secondary-color);

    color: var(--third-color);


}



.input3 {
    height: 10%;
    background-color: var(--secondary-color);

    color: var(--font-color);


}

.input2 {
    resize: none;
    height: 35%;
    align-content: start;
    color: var(--third-color);
    justify-content: start;
    background-color: var(--secondary-color);

}

.input2::placeholder,
.input3::placeholder,
.input1::placeholder {
    color: var(--shadow-color);
    opacity: 1;
}

#Message button {

    height: clamp(15px, 13%, 40px);
    background-color: var(--secondary-color);
    border-radius: 25px;
    cursor: pointer;
    border-top: 2px solid var(--luxury-gold);
    border-bottom: 2px solid var(--deactive-color);
    transition: all 0.2s ease-in;
    color: var(--secondfont-color);
    align-content: center;
    width: 50%;
    margin-left: 50%;
}

#Message button:hover {
    border-bottom: 1px solid var(--shadow-color);
    border-top: 2px solid var(--deactive-color);
    border-left: 2px solid var(--secondFont-color);
    scale: calc(1.1);
}


footer {
    height: 10vh;
    background-color: var(--deactive-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8%;
    color: var(--luxury-gold);

}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer svg {
    width: 3%;
    fill: white;
    cursor: pointer;
}

footer svg:hover {
    scale: calc(1.3);
    fill: rgb(23, 169, 191);
}

#side-menu {
    display: none;
}




@media (min-width:100px) and (max-width:599px) {
    #side-color {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgb(26, 26, 26);

    }

    #side-menu {
        display: flex;
        flex-direction: column;
        background-color: var(--shadow-color);
        position: fixed;
        right: 0;
        top: 0;
        width: 70vw;
        height: 100vh;
        padding-top: 3vh;
        box-shadow: -30vw 5px 5px rgba(28, 62, 63);

    }

    #side-menu span {
        font-size: 2rem;
        cursor: pointer;
        color: var(--secondary-color);
        margin-left: 80%;
        margin-right: 10%;
        width: clamp(3rem, 12vw, 2.5rem);
    }

    #side-menu span:hover {
        scale: calc(1.3);
    }

    #side-menu a {
        text-decoration: none;
        color: var(--font-color);
        font-size: clamp(1.1rem, 3vw, 2rem);
        position: relative;
        display: block;
        padding: 8% 5%;
    }

    #side-menu a:nth-child(odd):hover {
        background-color: var(--primary-color);
    }

    #side-menu a:nth-child(even):hover {
        background-color: var(--secondary-color);
    }




    #menu {
        display: block;
        width: clamp(2rem, 12vw, 2.5rem);
        cursor: pointer;
    }

    #menu:hover {
        scale: calc(1.1);
    }

    .section1-header {
        padding: 0 16px;

    }

    .section1-header nav {
        display: none;
    }


    #section3 div div {
        width: 22vw;
        height: 10vh;
        gap: 1vh;
        align-items: center;
        justify-content: center;


    }

    #section3 div div svg {
        width: 7vw;
    }

    #section3 div div span {
        font-size: 0.7rem;

    }

    #section4 {
        height: 140vh;
    }

    #three-projects {
        flex-wrap: wrap;
        gap: 3vh;


    }

    #first {
        width: 50%;
        height: 40vh;

    }


    #Message {
        height: 80%;
        width: 80%;
    }

    .input1 {
        height: 7%;
    }

    .input3 {
        height: 7%;
    }

    .input2 {
        height: 55%;
    }

    #Message button {
        width: 50%;
        height: 8%;
    }

    footer svg {
        width: 7%;
    }
}